/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Sidebar {
  width: 300px;
  min-width: 210px;
  height: 100%;
}

.Main {
  background: url('./images/bg.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #100399;
}

.User {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #ebebeb;
}

.User .info p {
  font-size: 1.1rem;
  font-weight: bold;
}

.User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.AddNewTodo {
  border-bottom: 1px solid #ebebeb;
}

.AddNewTodo .btn {
  padding: 1rem;
  width: 100%;
  height: 70px;
}

.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #100399;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.AddNewTodo .btn button:hover {
  filter: brightness(1.1);
  transition: all 300ms ease;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
}

.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.AddNewTodo form {
  padding: 1rem 1rem calc(1rem + 60px) 1rem;
  width: 500px;
  background: white;
  border-radius: 4px;
}

.AddNewTodo form .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.AddNewTodo form .text input:focus {
  outline: none;
  border-bottom: 1px solid #100399;
}

.AddNewTodo form .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.AddNewTodo form p {
  margin-left: 10px;
}

.AddNewTodo form .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.AddNewTodo form .pick-day,
.AddNewTodo form .pick-time,
.AddNewTodo form .pick-project {
  padding: 1.5rem;
}

.AddNewTodo form .pick-project .projects {
  display: flex;
  padding: 1rem 1rem 0 1rem;
}

.AddNewTodo form .pick-project .projects .project {
  border: 1px solid #190399;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.AddNewTodo form .pick-project .projects .active {
  background: aqua;
  color: white;
}

.AddNewTodo form .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.AddNewTodo form .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.AddNewTodo form .confirm button {
  width: 100%;
  height: 60px;
  background: aqua;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

.Calender {
  padding: 1rem;
  border-bottom: 1px solid #ebeb;
}

.Calender .header {
  display: flex;
  align-items: center;
}

.Calender .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Calender .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Calender .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calender .header .btns span:hover {
  background-color: #ebebeb;
  transition: all ease-in-out;
}

.Calender .items {
  padding: 0.5rem;
}

.Calender .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.Projects {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.Projects .header {
  display: flex;
  align-items: center;
}

.Projects .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Projects .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Projects .header .btns {
  display: flex;
  align-items: center;
}

.Projects .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Projects .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}

.Projects .header .btns .edit {
  margin-right: 5px;
}

.Projects .items {
  padding: 0.5rem;
}

.Project {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  position: relative;
}

.Project .name {
  cursor: pointer;
  word-break: break-all;
}

.Project .btns {
  display: flex;
  align-items: center;
}

.Project .btns .total-todos {
  position: absolute;
  right: 0;
  background-color: #ebebeb;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.Project .btns .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
}

.Project .btns .edit-delete span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 30ms ease-in-out;
}

.Project .btns .edit-delete .edit:hover {
  background: aquamarine;
}

.Project .btns .edit-delete .delete:hover {
  background: rgba(238, 5, 188, 0.767);
}
